*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100wh;
    overflow-x: hidden;
    background-image: url(./Images/Space.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chicken-container{
    padding-top:50px ;
    width: 80%;
    display:flex ;
    flex-wrap: wrap ; 
    align-items: center;
    justify-content: center;
}


.chicken{
    height: 60px;
}

.rocket{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}


.rocket-img{
    height: 150px;
    z-index: 2;

}

.bullet{
    position: absolute;
    height: 10px;
}